@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600);
@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:regular);

:root {
  --primary: #000080;
  --primary-active: #0000E5;

  --base-100: #262626;
  --base-200: #404040;
  --base-300: #666666;
  --base-400: #8C8C8C;
  --base-500: #B3B3B3;
  --base-600: #CCCCCC;
  --base-700: #E6E6E6;
  --base-800: #F2F2F2;
  --base-900: #FDFDFD;

  --white: #fff;

  --container-width-large: 1400px;
  --container-width-medium: 1260px;

  --container-margin-large: max(0px, calc((100vw - var(--container-width-large)) / 2));
  --container-margin-medium: max(0px, calc((100vw - var(--container-width-medium)) / 2));

  --container-padding: 20px;
  
  --z-index-header: 20;
  --z-index-sidebar: 10;
  --z-index-hero: 5;
}

::selection {
  background: var(--primary);
  color: var(--white);
}
::-moz-selection {
  background-color: var(--primary);
  color: var(--white);
}