@import url(https://fonts.googleapis.com/css?family=Inter:regular,500);

:root {
  --base-100: #262626;
  --base-200: #404040;
  --base-300: #666666;
  --base-400: #8C8C8C;
  --base-500: #B3B3B3;
  --base-600: #CCCCCC;
  --base-700: #E6E6E6;
  --base-800: #F2F2F2;
  --base-900: #FDFDFD;
}
